<footer>
    <p id="copyright"></p>

    <ul class="footer_links">
        <li><a href="https://www.instagram.com/lowkey__019/"><img id="instagram-logo"></a></li>
        <li><a href="https://www.linkedin.com/in/aditya-chouhan-09892b245/"><img id="linkedin-logo"></a></li>
    </ul>
</footer>

<script src="/js/script.js"></script>

</body>

</html>