<header>
  <a class="logo" href="/homepage"><img id="logo" /></a>
  <nav>
    <ul class="nav_links">
      <li><a href="/services">Services</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact ME!</a></li>
      <li><a href="/contactlist">Contact-list</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>
