<%- include('./template/header') %> <%- include('./template/navigationBar') %>

<main>
  <h1 class="header-one">About ME!</h1>

  <article class="center">
    <div id="center">
      <img
        style="
          height: 156px;
          width: 108px;
          background-size: contain;
          background-repeat: no-repeat;
          border-radius: 20px;
        "
        src="/img/me.jpg"
      />
      <p><br /></p>
      <p>
        I am Aditya Chouhan, and this is my third semester in the Software
        Engineering technician program. My objective is to learn enough from
        this program so that I can develop spectacular websites.
      </p>
      <br /><br />
      <p>
        <a
          style="text-decoration: none"
          href="https://drive.google.com/file/d/1f_VMieuoOXu34Rt8cruQYLwD4DAluRAN/view?usp=sharing"
        >
          <button class="button">Click here to view my resume.</button>
        </a>
      </p>
    </div>
  </article>
</main>

<%- include('./template/footer') %>
