<%- include('./template/header') %> <%- include('./template/navigationBar') %>

<main>
  <article class="center">
    <div>
      <h1 class="header-one" class="home-message">
        Hi, there! I am Aditya Chouhan and Welcome to my webpage.
      </h1>
      <br /><br />
      <p>"Preserving simplicity."</p>
    </div>
  </article>
</main>

<%- include('./template/footer') %>
