<%- include('./template/header') %> <%- include('./template/navigationBar') %>

<main>
  <h1 class="header-one">Projects</h1>
  <article class="center">
    <dev>
      <p>
        I worked on some <span>HTML & CSS</span>, <span>C#</span>, and
        <span>SQL</span> projects during the first and second semesters of the
        Software engineering technician Program.
      </p>
      <br /><br />
      <p>
        Unfortunately, I don't have access to all those project files as I was
        not using a version control system for all the projects. However, below
        is a link to a sample webpage I created to test the web server and a git
        repository with some of my semester one web projects.
      </p>
      <br /><br />
      <p style="justify-content: space-between; display: flex">
        <a
          style="color: #90e0ef; text-decoration: none"
          href="https://github.com/TheTitan-X/Webprojects"
          ><button class="button">
            Click here to check my GitHub repository.
          </button></a
        >
        <a
          style="color: #90e0ef; text-decoration: none"
          href="http://studentweb.cencol.ca/achouha9/"
        >
          <button class="button">Click here to view the Webpage.</button></a
        >
      </p>
    </dev>
  </article>
</main>

<%- include('./template/footer') %>
