<%- include('./template/header') %> <%- include('./template/navigationBar') %>

<main>
  <h1 class="header-one">Services</h1>
  <article class="center">
    <div>
      <p>
        I'm not a professional programmer, but I am familiar with
        <a
          href="https://www.w3.org/standards/webdesign/htmlcss"
          class="a-services"
          ><span class="span-services">HTML & CSS</span></a
        >,
        <a
          href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)"
          class="a-services"
          ><span class="span-services">C#</span></a
        >,
        <a href="https://en.wikipedia.org/wiki/SQL" class="a-services"
          ><span class="span-services">SQL</span></a
        >, and
        <a href="https://en.wikipedia.org/wiki/JavaScript" class="a-services"
          ><span class="span-services">JavaScript</span></a
        >.
      </p>
      <br /><br />
      <p>
        When it comes to developing something, I think I am capable enough to
        create beautiful, fully functional websites and databases.
      </p>
    </div>
  </article>
</main>

<%- include('./template/footer') %>
